* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html, body {
    margin: 0;
    padding: 0;
}

.title-section {
    text-align: center;
    font-weight:900;
    font-size: 30px;
}

#header {
    padding: 16px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006400;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-top: 10px solid yellow;
}

nav ul {
    width: 100%;
    left: 0;
    right: 0;
    display:flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

nav ul li {
    margin: 0;
}

section {
    padding: 32px 128px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-container h3 {
    color: yellow;
    font-size: 25px;
    font-weight:bold;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

#menu-toggle{
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

nav a:hover {
    color: black;
}

#landing {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url("../image/umroh.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

.desc {
    color: white;
    margin: 0 auto;
}

.desc h1 {
    font-size: 30px;
    color: yellow;
    padding-bottom: 0;
    margin: 0;
}

#service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.service-card {
    flex: 1 1 300px;
    max-width: 350px;
    background-color: #FFF;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transfrom 0.3s ease;
    position: relative;
}

.service-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.service-card ul li {
    list-style: none;
    padding-bottom: 5px;
}

.service-img .rath {
    width: 150px;
    height: 70px;
    background-color: yellow;
    position: absolute;
    top: 420px;
    right: 0;
    border-radius: 0 0 0 20px;
}

.service-desc h2{
    color: #006400;
}

.service-desc a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: #006400;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}



@media screen and (max-width: 800px) {

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #FFD700;
        position: absolute;
        top: 115px;
        left: 0;
        width: 100%;
        padding: 16px;
        text-align: left;
        transition: max-height 0.3s ease-in-out;
    }

    nav a {
        font-size: 20px;
        font-weight: 800;
    }

    .title-section {
        font-size: 20px;
    }

    .menu-icon {
        display: block;
    }

    #menu-toggle:checked + .menu-icon + nav .menu {
        display: flex;
    }

    nav a {
        color: #006400;
    }

    nav a:hover {
        color: black;
    }

    #header {
        padding: 16px 32px;
    }

    .desc {
        left: auto;
    }

    .desc  h1 {
        font-size: 25px;
        padding-bottom: 5px;
    }

    #service {
        flex-direction: column;
        align-items: center;
    }

    .service-card img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    }

    .service-img .rath {
        top: 330px;
    }

    section {
        padding: 16px 20px;
    }

}

@media screen and (max-width: 1280px) {
    nav a {
        font-size: 15px;
    }
}